<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://code.alibabatech.com/schema/dubbo
       http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!-- 提供方应用信息，用于计算依赖关系 -->
    <dubbo:application name="dubbo-provider"  />

    <!-- 使用multicast广播注册中心暴露服务地址 -->
    <dubbo:registry address="zookeeper://127.0.0.1:2181" />

    <!-- 用dubbo协议在20880端口暴露服务 -->
    <dubbo:protocol name="dubbo" port="20880" />

	<!-- 延迟到Spring初始化完成后，再暴露服务,服务调用超时设置为6秒,超时不重试-->    
   <dubbo:provider delay="-1" timeout="6000" retries="0"/>  

    <!-- 声明需要暴露的服务接口 -->
    
    <!-- 公共服务接口 -->
    <dubbo:service interface=" com.aido.manager.service.CommonService" ref="commonService" />
    
    <!-- 历史的今天服务接口 -->
    <dubbo:service interface=" com.aido.manager.service.HistoryTodayService" ref="historyTodayService" />
    
    <!-- 微信精选服务接口 -->
    <dubbo:service interface=" com.aido.manager.service.WeChatSelectedService" ref="weChatSelectedService" />
    
      <!-- 新闻头条服务接口 -->
    <dubbo:service interface=" com.aido.manager.service.NewsHeadLinesService" ref="newsHeadLinesService" />
    
     <!--影视搜索服务接口 -->
    <dubbo:service interface=" com.aido.manager.service.MovieSearchService" ref="movieSearchService" />
    
    <!--驾考题库服务接口 -->
    <dubbo:service interface=" com.aido.manager.service.DrivingTestManagerService" ref="drivingTestManagerService" />
    
    <!--聊天机器人服务接口 -->
    <dubbo:service interface=" com.aido.manager.service.ChatRobotService" ref="chatRobotService" />
    
</beans>
